body {
    background-color: gray;
    color: #333;
}
h1,h2,h3{
    font-family: Georgia;

}
h1 {
    font-size: 3em;
}
h2 {
    font-size: 2em;
}
p {
    font-family: Arial;
}

a:visited{
    text-decoration: none;
}

a:hover{
    text-decoration: none;
    color: #95B3D7;
}

a:active{
    text-decoration: none;
    color: #000;
}

